#personal-info {
    background-color: #f9f9f9;
    border: solid 1px #d0d0d0;
    box-shadow: #a4a4a4;

    text-align: center;
}

#game-list {
    list-style-type: none;
    padding: 0;
}

#game-list-wrapper {
    height: 500px;
    overflow-y: auto;
    background-color: #d0d0d0;
}

.game-item {
    background-color: #000027;
    border: 1px solid white;

    text-align: left;

    color: white;
}

.game-item img {
    height: 175px;
    width: auto;
}

.game-item:hover {
    background-color: #000036;
}