.search-container {
    width: 100%;
}

.search-popup {
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2000;
    min-width: 100%;
    width: 100%;
}

.search-popup p {

    color: black;
    text-decoration: none;
}

.search-image {

    width: 75px;
    height: auto;
}

@media (max-width: 767.98px) {
    .search-container {
        width: 100%;
    }

    .search-popup {
        max-height: 220px !important;
    }
}