/* ----- STYLES GÉNÉRAUX ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- HEADINGS ----- */
h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #222;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #555;
}

#title {
    margin: 20px;
    font-weight: bold;
}

/* ----- FORMULAIRES ----- */

input[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}