/*-------------HEADER---------------*/
#header {
    background-color: #260048;
}

.btn.btn-sign {
    background-color: #048259;
    color: white;
    border: none;
}

.btn.btn-sign:hover {
    background-color: #0F683F;
}

/*-------------GAME LIST---------------*/

.games-list a {
    text-decoration: none;
}

.game {
    border: solid black 1px;

    padding: 20px;
    margin: 20px;
    
    background-color: #000027;

    color: white;
    text-align: center;

    border-radius: 15px;

    transform-origin: center;
    animation: rotateGame 2s infinite ease-in-out;
    transition: transform 0.3s ease;
}

.game:hover {
    transform: scale(1.1);
}

.game:not(:hover) {
    transform: scale(1);
}

/*-------------ANIMATION---------------*/

@keyframes growGame {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes shrinkGame {
    
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes rotateGame {
    
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}